/* ### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */

html {
    font-size: 15px;
}

body {
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 99%; /* Remove the scroll bar that appears at 100% */
}

main {
    background-color: hsl(244, 38%, 16%);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width: 95%;
    height: 50%;
    font-family: Inter, sans-serif;
    overflow: auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
    flex-grow: 1.5;
}

.main-heading {
    font-weight: 700;
    margin-bottom: 0.25em;
}

.main-heading-purple {
    color: hsl(277, 64%, 61%);
}

.main-paragraph {
    font-weight: 400;
    margin-bottom: 4em;
    color: hsla(0, 0%, 100%, 0.75);
}

.main-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-stats-item {
    line-height: 0.5em;
}

.main-stats-item p {
    text-transform: uppercase;
    font-size: 0.8em;
    color: hsla(0, 0%, 100%, 0.6);
}

.main-image {
    background: no-repeat center/cover url("./images/image-header-desktop.jpg");
    border-radius: 0 0.5em 0.5em 0;
    width: 100%;
    /* flex-shrink: 0; */
    flex-grow: 1;
    object-fit: cover;
}

.main-image-purple-tint {
    height: 100%;
    width: 100%;
    background-color: hsla(277, 81%, 34%, 0.5);
}

@media (max-width: 700px) {
    main {
        height: 90%;
        flex-direction: column-reverse;
    }

    .main-content {
        padding: 0 2em 0;
        text-align: center;
    }

    .main-image {
        width: 100%;
        height: 25%;
        border-radius: 0.5em 0.5em 0 0;
    }

    .main-paragraph {
        margin-bottom: 2em;
    }

    .main-stats {
        flex-direction: column;
        margin-bottom: 1em;
    }

    .main-stats-item {
        padding: 0.5em;
    }
}